.products {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-right: 5%;
    flex-direction: row;
}

.product {
    max-width: 30%;
    max-height: 50%;
}

.products-image {
    border-radius: 8px;
    width: 400px;
    height: 400px;
}

.price-sold {
    display: flex;
    justify-content: space-between;
}