.nav-bar {
    height: 70px;
    background: lightblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem
}

.nav-bar h2 {
    font-size: 40px;
}

.nav-bag {
    display: flex;
    align-items: center;
    padding-right: 20px;
    width: 3rem;
    height: 3rem;
    position: relative;
}

.login-bag {
    display: flex;
    align-items: center;
}

.bag-number {
    background-color: red;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}